/.idea/
*.iml
/*/target/
/ProjectZomboidInstall/target/
/ProjectZomboidInstall/target/app/bin/server/jvm.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-console-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-console-l1-2-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-datetime-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-debug-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-file-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-file-l1-2-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-file-l2-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-handle-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-heap-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-interlocked-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-localization-l1-2-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-memory-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-processthreads-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-processthreads-l1-1-1.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-profile-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-string-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-synch-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-synch-l1-2-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-timezone-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-core-util-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-conio-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-convert-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-environment-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-heap-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-locale-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-math-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-private-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-process-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-runtime-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-stdio-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-string-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-time-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/api-ms-win-crt-utility-l1-1-0.dll
/ProjectZomboidInstall/target/app/bin/app
/ProjectZomboidInstall/target/app/bin/app.bat
/ProjectZomboidInstall/target/app/bin/awt.dll
/ProjectZomboidInstall/target/app/bin/fontmanager.dll
/ProjectZomboidInstall/target/app/bin/freetype.dll
/ProjectZomboidInstall/target/app/bin/java.dll
/ProjectZomboidInstall/target/app/bin/java.exe
/ProjectZomboidInstall/target/app/bin/javajpeg.dll
/ProjectZomboidInstall/target/app/bin/javaw.exe
/ProjectZomboidInstall/target/app/bin/jawt.dll
/ProjectZomboidInstall/target/app/bin/jimage.dll
/ProjectZomboidInstall/target/app/bin/jli.dll
/ProjectZomboidInstall/target/app/bin/jrunscript.exe
/ProjectZomboidInstall/target/app/bin/jsound.dll
/ProjectZomboidInstall/target/app/bin/keytool.exe
/ProjectZomboidInstall/target/app/bin/lcms.dll
/ProjectZomboidInstall/target/app/bin/management.dll
/ProjectZomboidInstall/target/app/bin/mlib_image.dll
/ProjectZomboidInstall/target/app/bin/msvcp140.dll
/ProjectZomboidInstall/target/app/bin/net.dll
/ProjectZomboidInstall/target/app/bin/nio.dll
/ProjectZomboidInstall/target/app/bin/prefs.dll
/ProjectZomboidInstall/target/app/bin/splashscreen.dll
/ProjectZomboidInstall/target/app/bin/ucrtbase.dll
/ProjectZomboidInstall/target/app/bin/vcruntime140.dll
/ProjectZomboidInstall/target/app/bin/vcruntime140_1.dll
/ProjectZomboidInstall/target/app/bin/verify.dll
/ProjectZomboidInstall/target/app/bin/zip.dll
/ProjectZomboidInstall/target/app/conf/security/policy/limited/default_local.policy
/ProjectZomboidInstall/target/app/conf/security/policy/limited/default_US_export.policy
/ProjectZomboidInstall/target/app/conf/security/policy/limited/exempt_local.policy
/ProjectZomboidInstall/target/app/conf/security/policy/unlimited/default_local.policy
/ProjectZomboidInstall/target/app/conf/security/policy/unlimited/default_US_export.policy
/ProjectZomboidInstall/target/app/conf/security/policy/README.txt
/ProjectZomboidInstall/target/app/conf/security/java.policy
/ProjectZomboidInstall/target/app/conf/security/java.security
/ProjectZomboidInstall/target/app/conf/net.properties
/ProjectZomboidInstall/target/app/conf/sound.properties
/ProjectZomboidInstall/target/app/legal/java.base/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.base/aes.md
/ProjectZomboidInstall/target/app/legal/java.base/asm.md
/ProjectZomboidInstall/target/app/legal/java.base/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.base/c-libutl.md
/ProjectZomboidInstall/target/app/legal/java.base/cldr.md
/ProjectZomboidInstall/target/app/legal/java.base/icu.md
/ProjectZomboidInstall/target/app/legal/java.base/LICENSE
/ProjectZomboidInstall/target/app/legal/java.base/public_suffix.md
/ProjectZomboidInstall/target/app/legal/java.base/unicode.md
/ProjectZomboidInstall/target/app/legal/java.base/wepoll.md
/ProjectZomboidInstall/target/app/legal/java.base/zlib.md
/ProjectZomboidInstall/target/app/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.datatransfer/LICENSE
/ProjectZomboidInstall/target/app/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.desktop/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.desktop/colorimaging.md
/ProjectZomboidInstall/target/app/legal/java.desktop/freetype.md
/ProjectZomboidInstall/target/app/legal/java.desktop/giflib.md
/ProjectZomboidInstall/target/app/legal/java.desktop/harfbuzz.md
/ProjectZomboidInstall/target/app/legal/java.desktop/jpeg.md
/ProjectZomboidInstall/target/app/legal/java.desktop/lcms.md
/ProjectZomboidInstall/target/app/legal/java.desktop/libpng.md
/ProjectZomboidInstall/target/app/legal/java.desktop/LICENSE
/ProjectZomboidInstall/target/app/legal/java.desktop/mesa3d.md
/ProjectZomboidInstall/target/app/legal/java.management/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.management/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.management/LICENSE
/ProjectZomboidInstall/target/app/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.prefs/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.prefs/LICENSE
/ProjectZomboidInstall/target/app/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.scripting/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.scripting/LICENSE
/ProjectZomboidInstall/target/app/legal/java.xml/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/java.xml/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/java.xml/bcel.md
/ProjectZomboidInstall/target/app/legal/java.xml/dom.md
/ProjectZomboidInstall/target/app/legal/java.xml/jcup.md
/ProjectZomboidInstall/target/app/legal/java.xml/LICENSE
/ProjectZomboidInstall/target/app/legal/java.xml/xalan.md
/ProjectZomboidInstall/target/app/legal/java.xml/xerces.md
/ProjectZomboidInstall/target/app/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/ProjectZomboidInstall/target/app/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/ProjectZomboidInstall/target/app/legal/jdk.unsupported/LICENSE
/ProjectZomboidInstall/target/app/lib/security/blocked.certs
/ProjectZomboidInstall/target/app/lib/security/cacerts
/ProjectZomboidInstall/target/app/lib/security/default.policy
/ProjectZomboidInstall/target/app/lib/security/public_suffix_list.dat
/ProjectZomboidInstall/target/app/lib/classlist
/ProjectZomboidInstall/target/app/lib/fontconfig.bfc
/ProjectZomboidInstall/target/app/lib/fontconfig.properties.src
/ProjectZomboidInstall/target/app/lib/jawt.lib
/ProjectZomboidInstall/target/app/lib/jrt-fs.jar
/ProjectZomboidInstall/target/app/lib/jvm.cfg
/ProjectZomboidInstall/target/app/lib/jvm.lib
/ProjectZomboidInstall/target/app/lib/modules
/ProjectZomboidInstall/target/app/lib/psfont.properties.ja
/ProjectZomboidInstall/target/app/lib/psfontj2d.properties
/ProjectZomboidInstall/target/app/lib/tzdb.dat
/ProjectZomboidInstall/target/app/lib/tzmappings
/ProjectZomboidInstall/target/app/release
/ProjectZomboidInstall/target/classes/top/qiannianwen/pzi/main-view.fxml
/ProjectZomboidInstall/target/classes/top/qiannianwen/pzi/MainApplication.class
/ProjectZomboidInstall/target/classes/top/qiannianwen/pzi/MainController.class
/ProjectZomboidInstall/target/classes/module-info.class
/ProjectZomboidInstall/target/classes/ProjectZomboidFramework.jar
/ProjectZomboidInstall/target/maven-archiver/pom.properties
/ProjectZomboidInstall/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ProjectZomboidInstall/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ProjectZomboidInstall/target/app.zip
/ProjectZomboidInstall/target/pzi-0.0.1.jar
